body {
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 13px;
  font-weight: bold;
  text-align:center;
  color: red;
}

#side {
  width: 40px;
  height: 750px;
  float: left;
  background: #C0C0C0;
}

#body {
  width: 670px;
  height: 220px;
  background: #C0C0C0;
}

#blue,
#yellow,
#red {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: grey;
  line-height: 200px;
  user-select: none;
  float: left;
  box-shadow: 10px 4px 30px;
  margin: 10px;
}

#click {
  cursor: pointer;
}

#buttonBody {
  width: 150px;
  height: 250px;
  background: yellow;
  margin: auto;
}

#instructionTop,
#instructionEnd {
  width: 100px;
  height: 40px;
  background: black;
  margin: auto;
}

#button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  margin: 22px 45px 22px 45px;
}
