body {
  display: flex;
  flex-wrap: wrap;
}
p {
  font-size: 13px;
  font-weight: bold;
  text-align:center;
  margin: 25px;
  color: rgb(255,0,0);
  width: 100px;
  height: 40px;
  background: rgb(0,0,0);
  user-select: none;
  line-height: 40px;
}
#side {
  width: 40px;
  height: 750px;
  float: left;
  background: rgb(192,192,192);
}
#body {
  width: 670px;
  height: 220px;
  background: rgb(192,192,192);
}
#blue,
#yellow,
#red {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(128,128,128);
  line-height: 200px;
  user-select: none;
  float: left;
  box-shadow: 10px 4px 30px;
  margin: 10px;
}

#body[light="blue"] #blue {
  background: rgb(0,0,255);
}

#body[light="yellow"] #yellow {
  background: rgb(255,255,0);
}

#body[light="red"] #red {
  background: rgb(255,0,0);
}
#click {
  cursor: pointer;
}
#buttonBody {
  width: 150px;
  height: 250px;
  background: rgb(255,255,0);
  margin: auto;
}

#button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(255,0,0);
  cursor: pointer;
  margin:auto;
  box-shadow: 0 3px 0 rgb(128,0,0);
}
#button.press {
  margin-top: 32px auto;
  box-shadow: 0 1px 0 rgb(128,0,0);
}
